## text mysql

In [1]:
import pymysql
# 開啟資料庫連線
db = pymysql.connect("chatbot_db","root","123456","" )
# 使用 cursor() 方法建立一個遊標物件 cursor
cursor = db.cursor()
# 使用 execute()  方法執行 SQL 查詢 
cursor.execute("SELECT VERSION()")
# 使用 fetchone() 方法獲取單條資料.
data = cursor.fetchone()
print ("Database version : %s " % data)
# 關閉資料庫連線
db.close()

Database version : 10.1.41-MariaDB-1~bionic

## 刪除DATABASE OR TABLE

In [ ]:
import mysql.connector

cursor = None
conn = None
try:
    # 建立連線 並指定 database
    conn = mysql.connector.connect(user='root', password='123456', host = 'chatbot_db', database='TEST2')
    cursor = conn.cursor()

    
    # 下刪除 table指令 from database
    delete_table_query = """DROP TABLE users"""
    cursor.execute(delete_table_query)
     
#     # 下刪除 database指令 刪除 TEST1
#     delete_database_query = """DROP DATABASE TEST1"""
#     cursor.execute(delete_database_query)
#     conn.commit()
#     print("Table and Database Deleted successfully ")
    
except mysql.connector.Error as error:
    print("Failed to Delete table and database: {}".format(error))
    
finally:
    cursor.close()
    conn.close()
    print("MySQL connection is closed")

## create database and show all database table

In [44]:
import mysql.connector

db = mysql.connector.connect(user='root', password='123456', host = 'chatbot_db')

cursor = db.cursor()

# # 新建 database
# cursor.execute("CREATE DATABASE SHOES_ALL_DATA")

# 顯示目前所有的database
cursor.execute("SHOW DATABASES")
db_all = [x for x in cursor]
for i in db_all:
    print("SHOW DATABASES = ", i[0])
# 顯示all database目前所有的Tables
    try:
        cursor.execute("SHOW TABLE STATUS IN "+i[0])
        Table_all = [x for x in cursor]
        for y in Table_all:
            print("SHOW TABLES =",y[0])
        print("++++++++++++++++++")
    except:
        print("NULL")
        print("++++++++++++++++++")

SHOW DATABASES =  SHOES_ALL_DATA
++++++++++++++++++
SHOW DATABASES =  TEST1
++++++++++++++++++
SHOW DATABASES =  TEST2
SHOW TABLES = shoes_IDX
SHOW TABLES = shoes_data1
SHOW TABLES = userId_rating
++++++++++++++++++
SHOW DATABASES =  information_schema
SHOW TABLES = ALL_PLUGINS
SHOW TABLES = APPLICABLE_ROLES
SHOW TABLES = CHARACTER_SETS
SHOW TABLES = COLLATIONS
SHOW TABLES = COLLATION_CHARACTER_SET_APPLICABILITY
SHOW TABLES = COLUMNS
SHOW TABLES = COLUMN_PRIVILEGES
SHOW TABLES = ENABLED_ROLES
SHOW TABLES = ENGINES
SHOW TABLES = EVENTS
SHOW TABLES = FILES
SHOW TABLES = GLOBAL_STATUS
SHOW TABLES = GLOBAL_VARIABLES
SHOW TABLES = KEY_CACHES
SHOW TABLES = KEY_COLUMN_USAGE
SHOW TABLES = PARAMETERS
SHOW TABLES = PARTITIONS
SHOW TABLES = PLUGINS
SHOW TABLES = PROCESSLIST
SHOW TABLES = PROFILING
SHOW TABLES = REFERENTIAL_CONSTRAINTS
SHOW TABLES = ROUTINES
SHOW TABLES = SCHEMATA
SHOW TABLES = SCHEMA_PRIVILEGES
SHOW TABLES = SESSION_STATUS
SHOW TABLES = SESSION_VARIABLES
SHOW TABLES = STATISTICS
SHOW TABLES = SYSTEM_VARIABLES
SHOW TABLES = TABLES
SHOW TABLES = TABLESPACES
SHOW TABLES = TABLE_CONSTRAINTS
SHOW TABLES = TABLE_PRIVILEGES
SHOW TABLES = TRIGGERS
SHOW TABLES = USER_PRIVILEGES
SHOW TABLES = VIEWS
SHOW TABLES = GEOMETRY_COLUMNS
SHOW TABLES = SPATIAL_REF_SYS
SHOW TABLES = CLIENT_STATISTICS
SHOW TABLES = INDEX_STATISTICS
SHOW TABLES = INNODB_SYS_DATAFILES
SHOW TABLES = TABLE_STATISTICS
SHOW TABLES = INNODB_SYS_TABLESTATS
SHOW TABLES = USER_STATISTICS
SHOW TABLES = INNODB_SYS_INDEXES
SHOW TABLES = XTRADB_RSEG
SHOW TABLES = INNODB_CMP_PER_INDEX
SHOW TABLES = INNODB_TRX
SHOW TABLES = CHANGED_PAGE_BITMAPS
SHOW TABLES = INNODB_FT_BEING_DELETED
SHOW TABLES = INNODB_LOCK_WAITS
SHOW TABLES = INNODB_LOCKS
SHOW TABLES = INNODB_TABLESPACES_ENCRYPTION
SHOW TABLES = XTRADB_INTERNAL_HASH_TABLES
SHOW TABLES = INNODB_SYS_FIELDS
SHOW TABLES = INNODB_CMPMEM_RESET
SHOW TABLES = INNODB_CMP
SHOW TABLES = INNODB_FT_INDEX_TABLE
SHOW TABLES = INNODB_SYS_TABLESPACES
SHOW TABLES = INNODB_MUTEXES
SHOW TABLES = INNODB_BUFFER_PAGE_LRU
SHOW TABLES = INNODB_SYS_FOREIGN_COLS
SHOW TABLES = INNODB_CMP_RESET
SHOW TABLES = INNODB_BUFFER_POOL_STATS
SHOW TABLES = INNODB_FT_INDEX_CACHE
SHOW TABLES = INNODB_SYS_FOREIGN
SHOW TABLES = INNODB_METRICS
SHOW TABLES = INNODB_FT_DEFAULT_STOPWORD
SHOW TABLES = INNODB_CMPMEM
SHOW TABLES = INNODB_SYS_TABLES
SHOW TABLES = INNODB_SYS_COLUMNS
SHOW TABLES = INNODB_FT_CONFIG
SHOW TABLES = INNODB_BUFFER_PAGE
SHOW TABLES = INNODB_CMP_PER_INDEX_RESET
SHOW TABLES = XTRADB_READ_VIEW
SHOW TABLES = INNODB_SYS_SEMAPHORE_WAITS
SHOW TABLES = INNODB_CHANGED_PAGES
SHOW TABLES = INNODB_FT_DELETED
SHOW TABLES = INNODB_TABLESPACES_SCRUBBING
++++++++++++++++++
SHOW DATABASES =  mysql
SHOW TABLES = column_stats
SHOW TABLES = columns_priv
SHOW TABLES = db
SHOW TABLES = event
SHOW TABLES = func
SHOW TABLES = general_log
SHOW TABLES = gtid_slave_pos
SHOW TABLES = help_category
SHOW TABLES = help_keyword
SHOW TABLES = help_relation
SHOW TABLES = help_topic
SHOW TABLES = host
SHOW TABLES = index_stats
SHOW TABLES = innodb_index_stats
SHOW TABLES = innodb_table_stats
SHOW TABLES = plugin
SHOW TABLES = proc
SHOW TABLES = procs_priv
SHOW TABLES = proxies_priv
SHOW TABLES = roles_mapping
SHOW TABLES = servers
SHOW TABLES = slow_log
SHOW TABLES = table_stats
SHOW TABLES = tables_priv
SHOW TABLES = time_zone
SHOW TABLES = time_zone_leap_second
SHOW TABLES = time_zone_name
SHOW TABLES = time_zone_transition
SHOW TABLES = time_zone_transition_type
SHOW TABLES = user
++++++++++++++++++
SHOW DATABASES =  performance_schema
SHOW TABLES = accounts
SHOW TABLES = cond_instances
SHOW TABLES = events_stages_current
SHOW TABLES = events_stages_history
SHOW TABLES = events_stages_history_long
SHOW TABLES = events_stages_summary_by_account_by_event_name
SHOW TABLES = events_stages_summary_by_host_by_event_name
SHOW TABLES = events_stages_summary_by_thread_by_event_name
SHOW TABLES = events_stages_summary_by_user_by_event_name
SHOW TABLES = events_stages_summary_global_by_event_name
SHOW TABLES = events_statements_current
SHOW TABLES = events_statements_history
SHOW TABLES = events_statements_history_long
SHOW TABLES = events_statements_summary_by_account_by_event_name
SHOW TABLES = events_statements_summary_by_digest
SHOW TABLES = events_statements_summary_by_host_by_event_name
SHOW TABLES = events_statements_summary_by_thread_by_event_name
SHOW TABLES = events_statements_summary_by_user_by_event_name
SHOW TABLES = events_statements_summary_global_by_event_name
SHOW TABLES = events_waits_current
SHOW TABLES = events_waits_history
SHOW TABLES = events_waits_history_long
SHOW TABLES = events_waits_summary_by_account_by_event_name
SHOW TABLES = events_waits_summary_by_host_by_event_name
SHOW TABLES = events_waits_summary_by_instance
SHOW TABLES = events_waits_summary_by_thread_by_event_name
SHOW TABLES = events_waits_summary_by_user_by_event_name
SHOW TABLES = events_waits_summary_global_by_event_name
SHOW TABLES = file_instances
SHOW TABLES = file_summary_by_event_name
SHOW TABLES = file_summary_by_instance
SHOW TABLES = host_cache
SHOW TABLES = hosts
SHOW TABLES = mutex_instances
SHOW TABLES = objects_summary_global_by_type
SHOW TABLES = performance_timers
SHOW TABLES = rwlock_instances
SHOW TABLES = session_account_connect_attrs
SHOW TABLES = session_connect_attrs
SHOW TABLES = setup_actors
SHOW TABLES = setup_consumers
SHOW TABLES = setup_instruments
SHOW TABLES = setup_objects
SHOW TABLES = setup_timers
SHOW TABLES = socket_instances
SHOW TABLES = socket_summary_by_event_name
SHOW TABLES = socket_summary_by_instance
SHOW TABLES = table_io_waits_summary_by_index_usage
SHOW TABLES = table_io_waits_summary_by_table
SHOW TABLES = table_lock_waits_summary_by_table
SHOW TABLES = threads
SHOW TABLES = users
++++++++++++++++++

## check contain of table

In [2]:
import mysql.connector

db = mysql.connector.connect(user='root', password='123456', host = 'chatbot_db', database='TEST2')

cursor = db.cursor()

# # 新建 database
# cursor.execute("CREATE DATABASE SHOES_ALL_DATA")

# 顯示目前所有的database
# cursor.execute("SHOW TABLES")
# for x in cursor:
#     print(x)

cursor.execute("SELECT * FROM `shoes_data1` WHERE pid IN ('11040', '19228')")
shoes_data1 = [i for i in cursor]
print(shoes_data1)

[]

## 將csv檔放入已存在的database裡面

In [83]:
import pandas as pd
from sqlalchemy import create_engine
df1 = pd.read_csv('/root/linechatbot/database/ratings.csv', encoding='utf-8')

#csv 匯入 DB
engine = create_engine('mysql+pymysql://root:123456@chatbot_db/TEST2?charset=utf8')

with engine.connect() as conn, conn.begin():
    df1.to_sql('userId_rating', conn, if_exists='replace', index=True)

df1

#build connenction
import pymysql
connection = pymysql.connect(host='chatbot_db', 
                             user='root',
                             password='123456',
                             charset='utf8mb4',
                             database='TEST2',
                             cursorclass=pymysql.cursors.DictCursor)

with connection.cursor() as cursor:
    sql = "USE `TEST2`"
    cursor.execute(sql)
    sql_query = "SELECT * FROM `userId_rating`"
    cursor.execute(sql_query)
    result = cursor.fetchall()

## from_mysql_to_line_chat_bot => get data

In [30]:
import pymysql
def from_mysql_table_userId_rating_to_shoesID_list(database, userId):
    db = pymysql.connect(host="chatbot_db",user="root", passwd="123456", db=str(database))#"TEST2"
    cursor = db.cursor()
    cursor.execute("SELECT shoesIDX FROM `userId_rating` WHERE userId IN ("+str(userId)+")")
    shoesIDX_tuple = [i for i in cursor]
    #     print(shoesIDX)
    shoesID_list = []
    for input_data in shoesIDX_tuple:
        db = pymysql.connect(host="chatbot_db",user="root", passwd="123456", db=str(database))#"TEST2"
        cursor = db.cursor()
        cursor.execute("SELECT shoesID FROM `shoes_IDX` WHERE shoesIDX IN ("+str(input_data[0])+")")
        for x in cursor:
            shoesID_list.append(x)
#     print(shoesID_list)
    return shoesID_list

##### output=> shoesID_list=[('11040',), ('19228',), ('100007_BKW',), ('1011A042-403',), ('1011A131-031',), ('1011A158-100',), ('1011A169-402',), ('1011A176-402',), ('1011A257-001',), ('1011A538-400',), ('1011A540-400',), ('1011A607-001',), ('1011A633-020',), ('1011A690-020',), ('1011A708-001',), ('1012A002-401',), ('1012A117-002',), ('1012A145-020',), ('1012A150-001',), ('1012A155-400',), ('1012A156-022',), ('1012A156-500',), ('1012A159-401',), ('1012A461-401',), ('1012A469-020',), ('1012A500-403',), ('1012A591-002',), ('1012A757-001',), ('1021A032-001',), ('1021A065-005',), ('1021A104-024',), ('1021A104-100',), ('1021A148-001',), ('1021A153-001',), ('1021A153-021',), ('1021A159-001',), ('1021A172-001',), ('1022A029-301',), ('1022A053-007',), ('1022A098-100',), ('1023A014-100',), ('1023A016-101',), ('1041A054-001',), ('1042A036-704',), ('1191A069-100',), ('1191A075-100',), ('1191A107-300',), ('1191A112-020',), ('1191A149-100',), ('1191A211-100',), ('1191A232-001',), ('1191A232-200',), ('1191A232-400',), ('1191A242-001',), ('1191A242-020',), ('1191A242-100',), ('1191A242-101',), ('1192A011-020',), ('1192A025-250',), ('1192A070-100',), ('1192A101-700',), ('1192A114-200',), ('1192A125-001',), ('1192A125-100',), ('1192A126-400',), ('1192A136-101',), ('1193A026-400',), ('1193A042-400',), ('1193A162-100',), ('1193A162-101',), ('11940_GYW',), ('124002_BKW',), ('124029_BKGD',), ('124042_LPD',), ('124089_TPE',), ('12606_BUPK',), ('12644_BKW',), ('12645_BKMT',), ('12646_BKHP',), ('12646_WPMT',), ('12647_WSL',), ('12825_CCCL',), ('12843_BURG',), ('12843_WSL',), ('12921_WBK',), ('1.29E+16',), ('12946_GYMN',), ('1295740-001',), ('12959_WTRG',), ('12980_NVAQ',), ('12983_NVLB',), ('13079_GYHP',), ('13261_BBK',), ('13329_BKW',), ('13378_NVBU',), ('13474_NVHP',), ('14876_NVGR',), ('149062_BKW',), ('15171_BKW',), ('15601_NVW',), ('15815_BKW',), ('15881_BKW',), ('15894_WTRG',), ('15913_CHOC',), ('15918_BKPK',), ('15923_WHT',), ('15951_NVPK',), ('16110_NAT',), ('17005_BURG',), ('22603_BBK',), ('2.31E+15',), ('2.31E+15',), ('2.31E+15',), ('27114_TPE',), ('3000011-104',), ('3020326-105',), ('3020612-103',), ('3021226-103',), ('3021227-300',), ('3021229-403',), ('3021232-003',), ('3021244-600',), ('3021247-001',), ('3021289-004',), ('3021289-007',), ('3021328-602',), ('3021376-101',), ('3021396-105',), ('3021457-300',), ('3021457-401',), ('3021457-602',), ('3021461-001',), ('3021461-200',), ('3021586-101',), ('3021587-104',), ('3021587-301',), ('3021630-400',), ('3021663-101',), ('3021665-100',), ('3021852-100',), ('3021947-003',), ('3021951-301',), ('3021964-401',), ('3022050-800',), ('3022163-001',), ('3022206-002',), ('3022397-600',), ('3022644-300',), ('3022648-100',), ('3022893-800',), ('3.02E+15',), ('31242_CAMO',), ('31284_MLT',), ('31347_WHT',), ('315122-001',), ('318429-111',), ('31963_NVY',), ('32575_LTPK',), ('32688_CCL',), ('32745_MLT',), ('32802_NVY',), ('32879_BBK',), ('33189_MLT',), ('33357_PKMT',), ('33362_MLT',), ('33406_NAT',), ('33645_DKNV',), ('33731_TPE',), ('343881-061',), ('3.61E+15',), ('3.63E+15',), ('3.63E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('3.98E+15',), ('4.15E+15',), ('4.15E+15',), ('44680_GRY',), ('44852_BKCC',), ('44926_BLK',), ('487754-302',), ('49603_MUSH',), ('49620_BBK',), ('49622_BBK',), ('49642_BLK',), ('49662_BBK',), ('50988_CCBK',), ('511881-010',), ('51241_BBK',), ('51241_CCBK',), ('51242_WNV',), ('5.18E+15',), ('5.18E+15',), ('51885_WGY',), ('51887_BRN',), ('51909_NVY',), ('52630_BLLM',), ('52757_NVRD',), ('52759_BKW',), ('532225-007',), ('5.43E+15',), ('5.43E+15',), ('54490_BKBL',), ('55239_BKRD',), ('55510_CHAR',), ('55510_KHK',), ('55510_LGBL',), ('5.76E+15',), ('5.76E+15',), ('5.98E+15',), ('5.98E+15',), ('618919-030',), ('64869_KHK',), ('65984_CDB',), ('66230_BLK',), ('66298_DSCH',), ('66434_BLK',), ('66434_BRN',), ('6.66E+14',), ('6.66E+14',), ('68244_B',), ('68699_BKMT',), ('68864_BKW',), ('749766-115',), ('AQ8306-004',)]

In [62]:
import pymysql
def from_mysql_shoesID_to_line_chat_bot_more(database, prouct_ID):
# database = "TEST2"
# prouct_ID=[('11040',), ('19228',), ('100007_BKW',), ('1011A042-403',), ('1011A131-031',), ('1011A158-100',), ('1011A169-402',), ('1011A176-402',), ('1011A257-001',), ('1011A538-400',), ('1011A540-400',), ('1011A607-001',), ('1011A633-020',), ('1011A690-020',), ('1011A708-001',), ('1012A002-401',), ('1012A117-002',), ('1012A145-020',), ('1012A150-001',), ('1012A155-400',), ('1012A156-022',), ('1012A156-500',), ('1012A159-401',), ('1012A461-401',), ('1012A469-020',), ('1012A500-403',), ('1012A591-002',), ('1012A757-001',), ('1021A032-001',), ('1021A065-005',), ('1021A104-024',), ('1021A104-100',), ('1021A148-001',), ('1021A153-001',), ('1021A153-021',), ('1021A159-001',), ('1021A172-001',)]
    prouct=[tuple(i)[0] for i in prouct_ID]
#     print(prouct)
    shoesID_list = []
    for input_data in prouct:
        db = pymysql.connect(host="chatbot_db",user="root", passwd="123456", db=str(database))#"TEST2"
        cursor = db.cursor()
        cursor.execute("SELECT pid,cata_label,url,mcolor_name,scolor_name,pic_url,brand,pro_name FROM `shoes_data1` WHERE pid IN ('"+input_data+"')")
        mysql_input_data = [i for i in cursor]
#         print(mysql_input_data)
        shoesID_list.append(mysql_input_data)
#         print(shoesID_list)
    shoesID=[x for x in shoesID_list if x]
#     print(shoesID)
    return shoesID

## 推薦名單_to_ＭＹＳＱＬ_To_ＬＩＮＥ輪播

In [78]:
import pymysql
import random
import pandas as pd

if __name__ == "__main__":
    userId = random.randint(1,610)
    print(userId)
    input_tuple = from_mysql_table_userId_rating_to_shoesID_list("TEST2", userId)
    # 連接 MySQL 資料庫
    list_col_color=[]
    list_shoes=from_mysql_shoesID_to_line_chat_bot_more("TEST2", input_tuple)
    list_shoes[:6]
#     print(list_shoes)
    print("=====================")
    num = len(list_shoes[:6])
    print(num)
    for i in range(0, num):
        #輸入值
        #main_color, web_shoes, web_pic, name_shoes = list_shoes[i]
        productID = list_shoes[i][0][0]
        catatory = list_shoes[i][0][1]
        web_shoes = list_shoes[i][0][2]
        mcolor = list_shoes[i][0][3]
        scolor = list_shoes[i][0][4]
        web_pic = list_shoes[i][0][5]
        Brand = list_shoes[i][0][6]
        name_shoes= list_shoes[i][0][7]

        #循環加到 list_col_color
        col_1 = {
                "thumbnailImageUrl": web_pic,
                "title": Brand+" | "+productID,
                "text": name_shoes,
                "actions": [
                  {
                    "type": "postback",
                    "label": "主色系:"+mcolor,
                    "text": web_shoes,
                    "data": "tag="+productID
                  }
                ]
              }
        list_col_color.append(col_1)

    #輸出到linebot輪播
    data ={
        "type": "template",
        "altText": "this is a carousel template",
        "template":
        {
            "type": "carousel",
            "actions": [],
            "columns": list_col_color
        }
        }
    print("+++++++++++++++++")
    print(data)

531
=====================
6
+++++++++++++++++
{'type': 'template', 'altText': 'this is a carousel template', 'template': {'type': 'carousel', 'actions': [], 'columns': [{'thumbnailImageUrl': 'https://image.skechers.com/img/productimages/xlarge/100084_GUN_E.jpg', 'title': 'skechers | 100084_GUN', 'text': "Women's Sepulveda Blvd - Kind Walk", 'actions': [{'type': 'postback', 'label': '主色系:Gainsboro', 'text': 'https://www.skechers.com/en-us/style/100084/sepulveda-blvd-kind-walk/gun', 'data': 'tag=100084_GUN'}]}, {'thumbnailImageUrl': 'https://asics.scene7.com/is/image/asics/1012A002_401_SR_RT?$dw_temp_default_gallery$&wid=1280&hei=640&extend=10,10,10,10&qlt=100', 'title': 'asics | 1012A002-401', 'text': 'DynaFlyte 3', 'actions': [{'type': 'postback', 'label': '主色系:LightBlue', 'text': 'https://www.asics.com/us/en-us/dynaflyte-3/p/ANA_1012A002-401.html', 'data': 'tag=1012A002-401'}]}, {'thumbnailImageUrl': 'https://asics.scene7.com/is/image/asics/1012A591_002_SR_RT?$dw_temp_default_gallery$&wid=1280&hei=640&extend=10,10,10,10&qlt=100', 'title': 'asics | 1012A591-002', 'text': 'GT-2000 8', 'actions': [{'type': 'postback', 'label': '主色系:Black', 'text': 'https://www.asics.com/us/en-us/gt-2000-8/p/ANA_1012A591-002.html', 'data': 'tag=1012A591-002'}]}, {'thumbnailImageUrl': 'https://asics.scene7.com/is/image/asics/1021A148_001_SR_RT?$dw_temp_default_gallery$&wid=1280&hei=640&extend=10,10,10,10&qlt=100', 'title': 'asics | 1021A148-001', 'text': 'GEL-Quantum 90', 'actions': [{'type': 'postback', 'label': '主色系:Black', 'text': 'https://www.asics.com/us/en-us/gel-quantum-90/p/ANA_1021A148-001.html', 'data': 'tag=1021A148-001'}]}, {'thumbnailImageUrl': 'https://asics.scene7.com/is/image/asics/1021A153_021_SR_RT?$dw_temp_default_gallery$&wid=1280&hei=640&extend=10,10,10,10&qlt=100', 'title': 'asics | 1021A153-021', 'text': 'GEL-QUANTUM 360 5 JCQ', 'actions': [{'type': 'postback', 'label': '主色系:Silver', 'text': 'https://www.asics.com/us/en-us/gel-quantum-360-5-jcq/p/ANA_1021A153-021.html', 'data': 'tag=1021A153-021'}]}, {'thumbnailImageUrl': 'https://asics.scene7.com/is/image/asics/1023A014_100_SR_RT?$dw_temp_default_gallery$&wid=1280&hei=640&extend=10,10,10,10&qlt=100', 'title': 'asics | 1023A014-100', 'text': 'GEL-Quantum 90 SD MID', 'actions': [{'type': 'postback', 'label': '主色系:Gainsboro', 'text': 'https://www.asics.com/us/en-us/gel-quantum-90-sd-mid/p/ANA_1023A014-100.html', 'data': 'tag=1023A014-100'}]}]}}

## create table and database 
### database=>table(event)

In [187]:
import mysql.connector

db = mysql.connector.connect(host="chatbot_db",user="root", passwd="123456", db="TEST2")

cursor = db.cursor()
# try:
# 新建 table
# cursor.execute("CREATE TABLE users (uesrID VARCHAR(255), age VARCHAR(255), gender VARCHAR(255), career VARCHAR(255))")
### users table
#加入資料
# sql = "INSERT INTO users (uesrID, age, gender, career) VALUES (%s, %s, %s, %s)"
# val = (612, "11-20", "male", "sportsman")
# cursor.execute(sql, val)
# db.commit()
# print("1 record inserted, ID:", cursor.lastrowid)
# # 顯示目前所有的table
# cursor.execute("SHOW TABLES ")
# for x in cursor:
#     print(x)
### lineuserid_to_users table
# 新建 table
# cursor.execute("CREATE TABLE lineuserid_to_users (lineuserid VARCHAR(255), uesrID VARCHAR(255))")
#加入資料
# sql = "INSERT INTO lineuserid_to_users (lineuserid, uesrID) VALUES (%s, %s)"
# val = ("U07eb38fc5e2318fee7f2ff8cf7cdad5b", "611")
# cursor.execute(sql, val)
# db.commit()
# print("1 record inserted, ID:", cursor.lastrowid)

   
# 顯示ｔａｂｌｅ內全部的資料
cursor.execute("SELECT * FROM `lineuserid_to_users` ")
shoes_data1 = [i for i in cursor]
print(shoes_data1)

[('U07eb38fc5e2318fee7f2ff8cf7cdad5b', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad6b', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad6c', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad6d', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad6g', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad6p', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad6o', '611'), ('U07eb38fc5e2318fee7f2ff8cf7cdad9b', '612'), ('U07eb38fc5e2318fee7f2ff8cf7cdad1b', '612'), ('U08eb38fc5e2318fee7f2ff8cf7cdad1b', '612')]

In [51]:
def insert_data_to_mysql_database_table_users(data, database)
#     data = ('612', '11-20', 'male', 'sportsman')
#     database = "TEST2"
    db = mysql.connector.connect(host="chatbot_db",user="root", passwd="123456", db=database)
    cursor = db.cursor()
    sql = "INSERT INTO users (uesrID, age, gender, career) VALUES (%s, %s, %s, %s)"
    val = data # tuple
    cursor.execute(sql, val)
    db.commit()
    print("1 record inserted, ID:", data[0])
    return data[0]

1 record inserted, ID: 612

## line_user_id_change_to_userid

In [191]:
def line_user_id_change_to_userid(database, lineuserid):
#     database = "TEST2"
#     lineuserid = "U07eb38fc5e2318fee7f2ff8cf7cdad9b"
    db = mysql.connector.connect(host="chatbot_db",user="root", passwd="123456", db=database)
    cursor = db.cursor()
    #先判斷lineuserid = "U07eb38fc5e2318fee7f2ff8cf7cdad6g"是否在表lineuserid_to_users中
    cursor.execute("SELECT lineuserid FROM `lineuserid_to_users`")
    lineuserid_list = [i[0] for i in cursor]
    # print(lineuserid_list)
    #在表中，取　lineuserid　相對　uesrID　的值
    if lineuserid in lineuserid_list:
        cursor.execute("SELECT uesrID FROM `lineuserid_to_users` WHERE lineuserid IN ('"+lineuserid+"')")
        userid_1 = [i[0] for i in cursor]
    #     print(userid_1)
        userid=userid_1[0]
        print(userid)    
    #不在表中
    else:
    # 從lineuserid_to_users表中，確認colume=userId的最終值
        cursor.execute("SELECT uesrID FROM `lineuserid_to_users`")
        userid_list = [i[0] for i in cursor]
        userid_list_1 = list(dict.fromkeys(userid_list))
    #     print(userid_list_1)
        # 輸出userId的最終值＋１
        userid2 = list(map(int, userid_list_1))
    #     print(userid2)
        userid = max(userid2)+1
    #     print(userid)   
        # 新增lineuserid, uesrID　到　lineuserid_to_users表
        sql = "INSERT INTO lineuserid_to_users (lineuserid, uesrID) VALUES (%s, %s)"
        val = (lineuserid, userid) 
        cursor.execute(sql, val)
        db.commit()
        print(userid)
    return userid

In [190]:
b = line_user_id_change_to_userid("TEST2", "U09eb38fc5e2318fee7f2ff8cf7cdad1b")
print(b)
a = {}
a["nn"]="jj"
print(a)
a["nn"]="cc"
print(a)

613
613
{'nn': 'jj'}
{'nn': 'cc'}